<h1 class="center-title roboto_800">LogIn</h1>
{{!-- <form action="/api/auth/singin" method="post">
    <input type="text" name="username" placeholder="User Name">
    <input type="password" name="password" placeholder="Contraseña">
    <input type="submit">
</form> --}}
<div class="form_center">
    <form id="logIn-form">
        <input id="username_id" type="text" name="username" placeholder="User Name">
        <input id="password_id" type="password" name="password" placeholder="Contraseña">
        <input type="submit">
    </form>
</div>